
/*******************************************************************************
 *
 *   Device lab
 */

.labheader {
	position: relative;
	margin: -2.5em 0 0;
	height: 340px;
	background: url(/images/lab/header.jpg) top center;
	background-attachment: fixed;
}
.labheader h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 16px 4px;
	font-size: 4em;
	color: #fff;
	background: rgba(236,101,52,0.8)
}

.inbetween {
	line-height: 180%;
	margin: 16px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.labheader {
		background-image: url(/images/lab/header@2x.jpg);
		background-size: 900px 450px;
	}
}

@media (max-width: 680px) {
	.labheader {
		background-attachment: scroll;
		background-position: center bottom;
		background-size: 450px 225px;
		height: 265px;
	}

	.labheader h2 {
		font-size: 3em;
	}

	.inbetween {
		font-size: 0.9em;
	}
}

@media (max-width: 432px) {
	.labheader h2 {
		font-size: 2.5em;
	}

	.inbetween {
		font-size: 0.85em;
	}
}

.labrules {
	background: #eee;
	margin: 20px -20px 20px;
	padding: 20px;
}
.labrules ol {
	text-align: center;
	font-size: 1.6em;
	line-height: 150%;
	list-style-type: none;
}
.opening {
	display: inline-block;
	padding: 6px 8px 4px;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 2em;
	line-height: 100%;
	text-transform: uppercase;

	color: #fff;
	background-color: rgba(0,146,191,0.8);
	float: right;
}


.devicecount {
	display: inline-block;
	padding: 6px 8px 4px;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 2em;
	line-height: 100%;
	text-transform: uppercase;

	color: #fff;
	background-color: #0092bf;
}


.help {
	-moz-column-count: 3;
	-moz-column-gap: 16px;
	-webkit-column-count: 3;
	-webkit-column-gap: 16px;
	column-count: 3;
	column-gap: 16px;
}


.helpus {
	margin-top: 50px;
	position: relative;
	background: #eee;
	padding: 30px 20px 10px;
	-webkit-column-break-after: always;
	break-after: always;
}
.helpus::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	content: '';
	border-left: 138px solid #fff;
	border-right: 138px solid #fff;
	border-bottom: 20px solid rgba(0,0,0,0);
}
.helpus h3 {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 2.5em;
	line-height: 100%;
	text-transform: uppercase;
	color: #777;
	margin: -40px 0 0 -20px !important;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
.helpus a {
	color: #0092bf;
	text-decoration: none;
}
.helpus a:hover {
	color: #0092bf;
	text-decoration: underline;
}

@media (max-width: 680px) {
	.help {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.helpus {
		margin-top: 70px;
	}
	.helpus::before {
		border-left: 200px solid #fff;
		border-right: 200px solid #fff;
	}
}

.sponsors {
	text-align: center;
	margin-bottom: 50px;
}
.sponsors h3 {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 1.3em;
	color: #666;
}
.sponsors li {
	list-style-type: none;
	display: inline;
	margin: 10px 20px;
}
.sponsors li img {
	vertical-align: middle;
}


ul.legend {
	list-style-type: none;
	margin-bottom: 1em;
}
ul.legend li {
	display: inline;
	margin-right: 10px;
	white-space: nowrap;
}
ul.legend li span {
	display: inline;
}
tr[data-available^=no] > td {
	color: #aaa;
	text-decoration: line-through;
}
.unavailable {
	color: #aaa;
	text-decoration: line-through;
	margin-right: 4px;
}

.hasWifi::before {
	content: '';
	font-family: html5test;
	margin-left: 4px;
	color: #aaa;
}
tr:hover .hasWifi::before {
	color: #0092bf;
}
li.hasWifi::before {
	color: #0092bf;
	margin: 0 6px 0 0;
}

.onRequest::before {
	content: '!';
	font-family: html5test;
	margin-left: 4px;
	color: #aaa;
}
tr:hover .onRequest::before {
	color: #ec6534;
}
li.onRequest::before {
	color: #ec6534;
	margin: 0 6px 0 0;
}
.hasInspect::before {
	content: 'In';
	margin-left: 4px;
	color: #fff;
	background: #aaa;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 0.8em;
	font-family: Arial;
}
tr:hover .hasInspect::before {
	background: #624127;
}
li.hasInspect::before {
	background: #624127;
	margin: 0 6px 0 0;
}



#deviceTable tr td, #deviceTable tr th {
	cursor: pointer;
	white-space: nowrap;
}
#deviceTable tr td td, #deviceTable tr th th {
	white-space: normal;
}
.deviceInfo {
	color: black;
	position: absolute;
	margin-top: 10px;
	margin-left: -10px;
	width: 420px;
	min-height: 196px;
	padding: 20px 0 0 20px;
	cursor: auto;
	white-space: normal;
}
.deviceInfo h2 {
	margin-bottom: 16px !important;
	font-size: 2.5em;
}
.deviceInfo a.external {
	font-family: html5test;
	font-size: 18px;
	display: inline;
	margin-left: 14px;
	color: #999;
	position: relative;
	top: -1px;
	text-decoration: none;
}
.deviceInfo .image {
	position: absolute;
	width: 140px;
	height: 140px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	border: 1px solid #ccc;
}
.deviceInfo .information {
	margin-left: 160px;
	width: 260px;
}
.deviceInfo table {
	width: 240px;
}
.deviceInfo table .check {
	font-family: html5test;
	font-weight: normal;
	color: #1c8c1d;
}
.deviceInfo table .ballot {
	font-family: html5test;
	font-weight: normal;
	color: #853333;
}

.deviceInfo .browsers {
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
}
.deviceInfo .browsers li {
	display: inline-block;
	position: relative;
	background: #eee;
	width: 48px;
	height: 48px;
	margin-right: 16px;
	margin-bottom: 32px;
}
.deviceInfo .browsers li.default {
	width: 240px;
	margin-bottom: 24px;
}
.deviceInfo .browsers span {
	position: absolute;
	display: block;
	left: 0;
	top: 50px;
	width: 48px;
	text-align: center;
	font-size: 0.8em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.deviceInfo .browsers li.default span {
	left: 44px;
	top: 14px;
	font-size: 1em;
	width: auto;
}
.deviceInfo .browsers li.default span.stock {
	left: 16px;
}
.deviceInfo .browsers .score {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	height: 48px;
	background: #0092bf;
	color: #fff;
	padding: 0 10px;
	line-height: 48px;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 2.2em;
}
.deviceInfo .browsers .score a {
	color: #fff;
	text-decoration: none;
}
.deviceInfo .browsers img {
	position: relative;
	top: 8px;
	left: 8px;
	width: 32px;
}
.deviceInfo .comment {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	width: 240px;
	margin-bottom: 20px;
}



@media (max-width: 680px) {
	.deviceInfo {
		width: 236px;
	}

	.deviceInfo .image {
		position: static;
		width: 216px;
		margin-bottom: 20px;
	}

	.deviceInfo table {
		width: 216px;
	}
	.deviceInfo tr:first-of-type th,
	.deviceInfo tr:first-of-type td {
		border-top: none;
	}
	.deviceInfo .information {
		margin: 0;
		width: 216px;
	}
	.deviceInfo .browsers {
		margin-top: 20px;
	}
	.deviceInfo .browsers li.default {
		width: 216px;
	}
	.deviceInfo .comment {
		width: 216px;
	}
}