
/********************************************
 *
 *   Import fonts
 */

@font-face {
	font-family: 'html5test';
	src:url('/fonts/html5test.eot');
	src:url('/fonts/html5test.eot?#iefix') format('embedded-opentype'),
		url('/fonts/html5test.woff') format('woff'),
		url('/fonts/html5test.ttf') format('truetype'),
		url('/fonts/html5test.svg#html5test') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-regular-webfont.eot');
    src: url('/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






/********************************************
 *
 *   Basic styles
 *
 *   Background: 	#d9d9d9
 *	 Blue:			#0092bf
 *   Orange:		#ec6534
 */

* {
	padding: 0;
	margin: 0;

	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	overflow-x: hidden;
}

body {
	background: #d9d9d9;
}

h2 {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 3.8em;
	line-height: 100%;
	text-transform: uppercase;

	color: #0092bf;
}
h3 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1.05em;
}
th, h4, strong, b {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}
button {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 0.75em;
}

input, textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

button, input, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	box-sizing: border-box;
}

img {
	border: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}
tbody tr:hover > td, tbody tr:hover > th {
	background-color: #f6f6f6;
}
tbody tr:hover th.details {
	/* background-color: inherit; */
}


/********************************************
 *
 *   Content wrapper
 */

body > div#contentwrapper {
	-webkit-transition: -webkit-transform .4s, -webkit-filter 1.2s, opacity 1.2s;
	transition: transform .4s, filter 1.2s, opacity 1.2s;
	background: #d9d9d9;
}
body.indexVisible > div#contentwrapper {
	opacity: 0.7;
	-webkit-transform: translateX(240px);
	transform: translateX(240px);
	-webkit-filter: brightness(75%) saturate(0%);
	filter: brightness(65%) saturate(15%);
}

@media (max-width: 680px) {
    body > div#contentwrapper {
        margin: auto;
    }
}

/********************************************
 *
 *   Header and navigation
 */

.header {
	background: #eee;
}
.header h1 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	text-transform: uppercase;
	color: #666;
	padding: 8px 40px;
	margin: 0 auto;
	max-width: 900px;
}
.header h1 span {
	margin-right: 10px;
}
.header h1 span,
.header h1 em {
	zoom: 1;
	display: inline-block;
	*display: inline;
}

.header h1 strong {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.8em;
	color: #ec6534;
	-webkit-font-smoothing: antialiased;

	position: relative;
	top: 7px;
}

.header h1 em {
	font-style: normal;
	text-transform: lowercase;
	font-size: 1.15em;
	color: #bbb;
}
.header div {
	margin: 10px auto 0;
	overflow: hidden;
	max-width: 900px;
	padding: 0 40px;
}
.header ul {
	list-style-type: none;
	margin-bottom: 8px;
}
.header ul.left {
	float: left;
}
.header ul.right {
	float: right;
}

.header ul li {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	padding: 0 10px;
	line-height: 32px;
	color: #fff;
	font-size: 0.9em;
	text-transform: lowercase;
	background: #aaa;
}
.header ul li.selected {
	background: #0092bf;
}
.header ul li:hover {
	box-shadow: inset 0 32px 0px rgba(0,0,0,0.05);
}
.header ul li a {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 680px) {
	.header h1 {
		width: 400px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.header h1 em {
		font-size: 1em;
	}

	.header div {
		width: auto;
	}
	.header ul {
		padding: 0 !important;
		margin: 0 0 12px 0 !important;
		width: 50%;
	}
	.header ul li {
		line-height: 30px;
		margin-bottom: 3px;
		clear: left;
	}
	.header ul.right {
		padding-left: 10px;
	}
	.header ul.left li {
		float: right;
		clear: right;
		margin-right: 6px;
	}
	.header ul.right li {
		margin-left: 6px;
	}
}

@media (max-width: 432px) {
	.header h1 {
		width: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
	.header h1 em {
		font-size: 0.9em;
	}
	.header ul {
		font-size: 0.85em;
	}
	.header ul.left {
		padding-left: 16px;
	}
	.header ul li {
		padding: 0 8px;
		line-height: 28px;
	}
}



/********************************************
 *
 *   Index
 */

body > div#index {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
}
body > div#index div#indexmenu {
	display: block;
	position: fixed;
	top: 0px;
	left: -240px;
	width: 220px;
	height: 100%;
    margin: -10px 0px 0px 0px;
	padding: 20px 10px 10px;
	background-color: rgb(0, 146, 191);
	color: #FFFFFF;
	z-index: 1;

	-webkit-overflow-scrolling: touch;
	overflow-y: auto;

	-webkit-transition: -webkit-transform .4s;
	transition: transform .4s;
}
body.indexVisible > div#index div#indexmenu {
	-webkit-transform: translateX(240px);
	transform: translateX(240px);
}
body > div#index div#indexmenu li {
	display: block;
	float: none;
	background-color: rgb(0, 146, 191);
	font-size: 14px;
	font-weight: bold;
    margin-left: 10px;
    line-height: 150%;
    text-transform: lowercase;
}
body > div#index div#indexmenu li a {
    text-decoration: none;
}
body > div#index div#indexmenu li a::before {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.2em;
	padding-right: 4px;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
}
body > div#index div#indexmenu li.category {
    margin-top: 10px;
}
body > div#index div#indexmenu li.category.semantics a:before { content: ''; }
body > div#index div#indexmenu li.category.offlinestorage a:before { content: ''; }
body > div#index div#indexmenu li.category.deviceaccess a:before { content: ''; }
body > div#index div#indexmenu li.category.connectivity a:before { content: ''; }
body > div#index div#indexmenu li.category.multimedia a:before { content: ''; }
body > div#index div#indexmenu li.category.graphicseffects a:before { content: ''; }
body > div#index div#indexmenu li.category.performanceintegration a:before { content: ''; }

body > div#index div#indexmenu li a {
	display: block;
	color: #FFFFFF;
}
body > div#index div#indexmenu li ul li {
	line-height: 25px;
	background-color: rgb(0, 146, 191);
    line-height: 160%;
	font-size: 12px;
	font-weight: normal;
    margin-left: 20px;
    text-transform: none;
}
body > div#index div#indexmenu li ul li:first-child {
	margin-top: 5px;
}
body > div#index div#indexmenu li ul li a {
	display: block;
	color: #FFFFFF;
}
body > div#index div#indexmenu li ul li a::before {
    content: '' !important;
}
body > div#index button#indexbutton {
	position: fixed;
	top: 10px;
	left: 0px;
	width: 36px;
	height: 40px;

	font-family: html5test;
	font-size: 1.4em;
	color: #999;

	background-color: transparent;
	border: none;
	outline: none;
	z-index: 100000;
	cursor: pointer;

	-webkit-transition: -webkit-transform .4s, color .5s, text-indent .5s;
	transition: transform .4s, color .5s, text-indent .5s;
}
body.indexVisible > div#index button#indexbutton {
	-webkit-transform: translateX(240px);
	transform: translateX(240px);
	color: #eee;
}

@media (max-width: 1010px) {
	body > div#index button#indexbutton {
		text-indent: -28px;
	}
}

@media (max-width: 680px) {
	body > div#index button#indexbutton {
		text-indent: 0;
	}
}

@media (max-width: 488px) {
	body > div#index button#indexbutton {
		text-indent: -28px;
	}
}

/********************************************
 *
 *   Footer
 */

.footer {
	background: #eee;
	margin-top: 30px;
	padding: 20px;
	overflow: hidden;
	min-height: 43px;
}
.footer > div {
	position: relative;
	padding-right: 300px;
}
.footer > div .copyright {
	font-size: 0.75em;
	color: #777;
}
.footer > div .copyright a {
	color: #888;
}
.footer > div .copyright p {
	margin-bottom: 0.8em;
}

#cloudvps a {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #ccc;

	display: block;
	background: url(/images/sponsors/cloudvps.png) no-repeat 10px top;
	background-size: 59px 43px;
	padding-top: 0px;
	padding-left: 80px;

	text-decoration: none;
	color: #04446d;
	font-size: 90%;
	min-height: 43px;
}
#cloudvps a b {
	font-size: 110%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#cloudvps a {
		background-image: url(/images/sponsors/cloudvps@2x.png);
		background-size: 59px 43px;
	}
}

@media (max-width: 680px) {
	.footer > div {
		padding-right: 0;
		padding-bottom: 60px;
	}

	#cloudvps a {
		top: auto;
		left: 0;

		border-left: none;
		border-top: 1px solid #ccc;
		padding-top: 12px;
		padding-left: 70px;
		background-position: left 12px;
	}
}



/*******************************************************************************
 *
 *   Global: Page grid
 */

.page {
	margin: 2.5em auto 0;
	max-width: 900px;
	padding: 0 40px;
}
.page > .column {
	position: relative;

	zoom: 1;
	display: inline-block;
	*display: inline;
	vertical-align: top;
}
.page > .column .left,
.page > .column .right {
	width: 50%;

	zoom: 1;
	display: inline-block;
	*display: inline;

	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.page > .column .left > div {
	padding-right: 10px;
}
.page > .column .right > div {
	padding-left: 10px;
}

@media (max-width: 680px) {
	.page {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.page > .column {
		width: auto;
		max-width: 400px;
		overflow: hidden;
		text-align: left;
	}
	.page > .column .left,
	.page > .column .right {
		width: 100%;
	}
	.page > .column .left > div,
	.page > .column .right > div {
		padding: 0;
	}
}

@media (max-width: 432px) {
	.page > .column {
		width: 90% !important;
	}
}


/********************************************
 *
 *   Global: Text styles
 */

.message {
	background: #f6f6f6;
	color: #000;

	font-size: 0.75em;
	line-height: 165%;
	margin: 0;
	padding: 10px;
}

.paper {
	position:relative;
	background: #fff;
	color: #000;

	font-size: 0.75em;
	line-height: 165%;

	margin-bottom: 60px;
}
.paper.hasNavigation {
	top: 32px;
	margin-bottom: 52px;
}
.paper > ul.navigation {
	position:absolute;
	top: -32px;

	margin: 0;
	overflow:hidden;
	list-style-type: none;
	width: 100%;
}
.paper > ul.navigation li {
	display: block;
	float: left;

	margin: 0 3px 0 0;
	padding: 0 10px;
	line-height: 32px;
	color: #fff;
	font-size: 1.1em;
	text-transform: lowercase;

	background: #aaa;
}
.paper > ul.navigation li.more {
	float: right;
	margin: 0 0 0 3px;
}
.paper > ul.navigation li.selected {
	background: #fff;
}
.paper > ul.navigation li a {
	color: #fff;
	text-decoration: none;
}
.paper > ul.navigation li.selected a {
	color: #000;
}
.paper > div {
	padding: 20px;
}
.paper > div h2 {
	clear: both;
	margin-bottom: 10px;
}
.paper > div h3 {
	margin: 1em 0 0.5em;
}
.paper > div p {
	margin: 0 0 0.5em;
}
.paper > div p + h3 {
	margin-top: 1.5em;
}
.paper > div hr {
	clear: both;
	margin: 20px -20px;
	border: none;
	border-top: 8px solid #d9d9d9;
}
.paper > div .text {
	-moz-column-count: 3;
	-moz-column-gap: 16px;
	-webkit-column-count: 3;
	-webkit-column-gap: 16px;
	column-count: 3;
	column-gap: 16px;
}

.paper > div .text.no-columns {
	-webkit-column-count: 1 !important;
	-moz-column-count: 1 !important;
	column-count: 1 !important;
}

.break-2 {
	-webkit-column-break-before: always;
	break-before: always;
}

.break-3 {
	-webkit-column-break-before: always;
	break-before: always;
}

@media (max-width: 767px) {
	.paper > div .text {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

	.break-3 {
		margin-top: 1.5em !important;
		-webkit-column-break-before: auto;
		break-before: auto;
	}
}

@media (max-width: 680px) {
	.paper > div .text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.break-2 {
		margin-top: 1.5em !important;
		-webkit-column-break-before: auto;
		break-before: auto;
	}

	.paper ul.navigation li span {
		display: none;
	}
}

.paper > div .text a {
	color: #0092bf;
	text-decoration: none;
}
.paper > div .text a:hover {
	color: #0092bf;
	text-decoration: underline;
}
.paper > div .text a.button {
	color: inherit;
}
.paper > div .text a.button:hover {
	text-decoration: inherit;
}
.intro {
	font-size: 1.05em;
	line-height: 150%;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #555;
}


.paper > div .text dl {
}
.paper > div .text dl dt {
	margin: 1em 0 0;

}
.paper > div .text dl dd {
	font-size: 0.9em;
}

.break {
	-webkit-column-break-before: always;
	break-before: always;
}




.text table {
	margin: 1em 0;
}
.text table th,
.text table td {
	font-weight: 200;
	text-align: left;

	border-top: 1px solid #ddd;
	padding: 4px 0;
	vertical-align: top;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
}
.text table thead th {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
	border-top: none;
	font-weight: bold;
	position: relative;
}
.text table thead th::after {
	display: block;
	position: absolute;
	content: '';
	width: 0px;
	height: 10px;
	border-right: 1px solid #ddd;
	left: 0;
	bottom: 0;
}
.text table thead th:last-child::before {
	display: block;
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-right: 1px solid #ddd;
	right: 0;
	bottom: 0;
}


.text ul {
	list-style-type: square;
	padding: 0 0 0 20px;
}


/********************************************
 *
 *   Global: UI elements > Popup
 */

.popupPanel {
	position: absolute;
	background: #fff;
	z-index: 1;
	border: 4px solid #aaa;

	width: auto !important;
	overflow: visible !important;
}

.popupPanel.pointsLeft::before,
.popupPanel.pointsRight::before {
	content: '';
	display: block;

	position: absolute;
	width: 0;
	height: 0;
	top: -13px;
	left: 7px;
	z-index: 10;

	border-bottom: 11px solid #aaa;
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
}
.popupPanel.pointsLeft::after,
.popupPanel.pointsRight::after {
	content: '';
	display: block;

	position: absolute;
	width: 0;
	height: 0;
	top: -7px;
	left: 10px;
	z-index: 11;

	border-bottom: 8px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.popupPanel.pointsRight::before {
	left: auto;
	right: 7px;
}
.popupPanel.pointsRight::after {
	left: auto;
	right: 10px;
}
.popupPanel.pointsLeft.hasSearch::after, .popupPanel.pointsRight.hasSearch::after {
	border-bottom: 8px solid #f6f6f6;
}


/********************************************
 *
	 *   Global: UI elements > Search
 */

.search {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #eee;
}
.filters .search {
	width: 200px;
}
.search input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding-left: 40px;
	width: 100%;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1em;

	border: none;
	background: none;
}
.search:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	font-family: html5test;
	text-align: center;
	font-size: 1.2em;
	color: #666;
	-webkit-font-smoothing: antialiased;
}
.search button {
	position: absolute;
	top: 4px;
	right: 4px;
	height: 32px;
	width: 32px;

	font-size: 1.2em;
	color: #bbb;

	background: none;
	border: none;
	cursor: pointer;
}

#searchResults {
	width: 100%;
}

#searchBusy #loading {
	min-height: inherit;
	height: 0px;
	overflow: hidden;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#searchBusy.visible #loading {
	height: 300px;
}
#searchBusy #loading div {
	font-size: 22px !important;
}
.popupPanel .toolbar {
	background: none;
	margin: 0;
	padding: 0;
}
.popupPanel .search {
	height: 36px !important;
	line-height: 36px;
	border-bottom: 4px solid #eee;
	background: #f6f6f6;
}
.popupPanel .search input {
	height: 36px;
	padding-left: 30px;
	font-size: 0.9em;
}
.popupPanel .search:after {
	width: 30px;
	height: 36px;
	font-size: 1.0em;
}
.popupPanel .search button {
	height: 28px;
	width: 22px;
	font-size: 1em;
}
.popupPanel .less,
.popupPanel .more {
	margin: 32px 0 -10px;
	line-height: 32px;
	height: 32px;
	border-top: 4px solid #eee;
	background: #f6f6f6;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
}

/********************************************
 *
 *   Global: UI elements > Toggle
 */

.toggle {
	display: block;
	cursor: pointer;

	position: relative;
	width: 200px;
	height: 40px;

	line-height: 40px;
	text-align: center;
	background: #eee;
}
.toggle .part {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.toggle .first {
	color: #fff;
}
.toggle.selected .first {
	color: inherit;
}
.toggle .second {
	left: 100px;
}
.toggle.selected .second {
	color: #fff;
}

.toggle .background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;

	background: #0092bf;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.toggle.selected .background {
	left: 100px;
}


/********************************************
 *
 *   Global: UI elements > Buttons
 */

.button {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	border: none;
	padding: 10px 0;
	margin: 0;
	cursor: pointer;
	vertical-align: top;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1em;
	text-decoration: none;
	text-align: left;
}
.button:hover {
	box-shadow: inset 0 50px 0px rgba(0,0,0,0.05);
}
.button > span {
	margin: 0 2px 0 10px;
	vertical-align: middle;
	white-space: nowrap;
}
.button > span::before {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.4em;
	margin-right: 6px;
	vertical-align: top;

	-webkit-font-smoothing: antialiased;
}

.button.website { background: #444; color: #fff; }
.button.website > span::before { content: ''; }
.button.followme { background: #0092bf; color: #fff; }
.button.followme > span::before { content: ''; }
.button.donate { background: #ffd500; color: #000; }
.button.donate > span::before { content: ''; }
.button.developed { background: #ccc; color: #000; }
.button.developed > span::before { content: ''; }
.button.compare { background: #33af33; color: #fff; }
.button.compare > span::before { content: '⚏'; }
.button.save { background: #0092bf; color: #fff; }
.button.save > span::before { content: '☁'; }
.button.latest { background: #0092bf; color: #fff; }
.button.latest > span::before { content: ''; }
.button.share { background: #ec6534; color: #fff; }
.button.share > span::before { content: ''; }
.button.contact { background: #ec6534; color: #fff; }
.button.contact > span::before { content: '☎'; }
.button.schedule { background: #ec6534; color: #fff; }
.button.schedule > span::before { content: ''; }
.button.labs { background: #33af33; color: #fff; }
.button.labs > span::before { content: '☟'; }
.button.info { background: #33af33; color: #fff; }
.button.info > span::before { content: ''; }




/********************************************
 *
 *   Global: UI elements > Tables
 */

.detailsTable .check,
.detailsTable .ballot,
.detailsTable .buggy,
.detailsTable .partial,
.detailsTable .unknown {
	position: relative;
	display: inline-block;

	top: -1px;

	color: #888;
	font-size: 1.2em;
	margin: 0 0 0 6px;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}
.detailsTable .check {
	font-family: html5test;
	font-weight: normal;
	color: #1c8c1d;
}
.detailsTable .ballot {
	font-family: html5test;
	font-weight: normal;
	color: #853333;
}
.detailsTable .buggy {
	font-family: html5test;
	font-weight: normal;
	color: #ec6534;
}
.detailsTable .partial {
	font-family: html5test;
	font-weight: normal;
}
.detailsTable .partially {
	color: #888;
}











/*******************************************************************************
 *
 *   Your Browser: Loading
 */

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
	}
  to {
    -webkit-transform: rotate(360deg);
  }
}

#loading {
	min-height: 500px;
	position: relative;
}

#loading div {
	display: block;

	position: absolute;
	top: 100px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;

	font-family: html5test;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
	color: #bbb;

    -webkit-animation: loader 1s steps(8) infinite;
    animation: loader 1s steps(8) infinite;
}



/*******************************************************************************
 *
 *   Your Browser: Score
 */

#score {
	z-index: 10;
}

.pointsPanel {
	background: #fff;
	min-height: 145px;
	padding: 0 155px 0 0;
}
.saved .pointsPanel {
	padding: 0;
}
.pointsPanel h2 {
	font-size: 2.3em;
	color: #aaa;
	text-align: center;
	line-height: 40px;
	margin: 0;

}
.pointsPanel h2 > strong,
.pointsPanel h2 > span {
	display: inline-block;
	vertical-align: middle;

	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
}
.pointsPanel h2 > strong {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 3.8em;
	color: #0092bf;
	line-height: 145px;
	margin: 0 10px;
}
.pointsPanel hr {
	border: none;
	border-top: 8px solid #d9d9d9;
}
.blocked {
	background: #ec6534;
	padding: 20px;
	margin-bottom: 40px;
}
.blocked h2 {
	color: #fff;
	font-size: 2.6em;
}
.blocked p {
	color: #fff;
	font-size: 0.8em;
	line-height: 150%;
}
.blocked button {
	margin-top: 10px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	border: none;
	padding: 10px;
}
.wrapper {
	margin: 8px 0 20px;
	position: relative;
}

@media (max-width: 900px) {
	.pointsPanel {
		font-size: 90%;
	}

	.blocked {
		font-size: 90%;
	}
}
@media (max-width: 820px) {
	.pointsPanel {
		font-size: 80%;
	}
}

@media (max-width: 767px) {
	.pointsPanel {
		font-size: 100%;
	}
	.pointsPanel h2 {
		padding: 10px 0;
	}
	.pointsPanel h2 > span,
	.pointsPanel h2 > strong {
		display: block;
	}
}

@media (max-width: 680px) {
	.pointsPanel {
		padding: 0;
	}

	.blocked {
		margin-left: 20px;
		margin-right: 20px;
	}
}





/********************************************
 *
 *   Your Browser: Feedback
 */

.popupPanel.feedback {
	width: 210px;
	margin-top: 10px;
	margin-left: -130px;
	padding: 10px 10px 10px;

	text-align: left;
	color: #000;
	cursor: auto;
	font-size: 1.1em;
}
.popupPanel.feedback h3 {
	margin: 0;
}

.popupPanel.feedback textarea {
	width: 100%;
	height: 160px;
	padding: 10px;
	margin: 10px 0;

	font-size: 1em;

	border: none;
	background: #eee;
}
.popupPanel.feedback button {
	width: 100%;
	border: none;
	background: #33af33;

	text-align: left;
	font-size: 1em;
	color: #fff;
	padding: 10px;

	cursor: pointer;
}
.popupPanel.feedback button span {
	font-family: html5test;
	font-size: 1.2em;
	margin-right: 4px;
}
/*
.popupPanel.save a {
	color: #0092bf;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.popupPanel.save a:hover {
	text-decoration: underline;
}
.popupPanel.save p {
	margin-bottom: 1em;
}
.popupPanel.save code {
	font-size: 1.5em;
}
*/

/********************************************
 *
 *   Your Browser: Save
 */

.popupPanel.save {
	width: 210px;
	margin-top: 21px;
	padding: 20px 10px 10px;

	text-align: center;
	color: #000;
	cursor: auto;
}
.popupPanel.save a {
	color: #0092bf;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.popupPanel.save a:hover {
	text-decoration: underline;
}
.popupPanel.save p {
	margin-bottom: 1em;
}
.popupPanel.save code {
	font-size: 1.5em;
}



/********************************************
 *
 *   Your Browser: Share
 */

.popupPanel.share {
	width: 210px !important;
	margin-top: 21px;
}
#share {
	display: block;
	height: 94px;
	position: relative;
	overflow: hidden;
}
#share #twitter {
	position: absolute;
	top: 15px;
	left: 15px;
}
#share #facebook {
	position: absolute;
	top: 15px;
	left: 82px;
}
#share #google {
	position: absolute;
	top: 15px;
	left: 141px;
}



/********************************************
 *
 *   Your Browser: Action buttons
 */

.wrapper .buttons {
	font-size: 0.75em;

}
.wrapper .buttons > * {
	width: 25%;
	display: inline-block;
	overflow: hidden;
}

@media (max-width: 680px) {
	.wrapper .buttons > * {
		width: 50%;
	}
}

@media (max-width: 280px) {
	.wrapper .buttons > * {
		width: 100%;
	}

	.wrapper .buttons .donate {
		display: none;
	}
}



/********************************************
 *
 *   Your Browser: Useragent
 */

.useragent {
	position: relative;
	box-sizing: border-box;
	border-top: 8px solid #d9d9d9;
	display: block;

	text-align: left;
	text-transform: none;
	font-size: 0.8em;
	color: #222;
	padding: 10px 100px 10px 10px;
	background: #eee;
}
.saved .useragent {
	position: relative;
	left: auto;
	border-left: 0;
	padding: 0;
	cursor: pointer;
}
.saved .useragent p {
	padding: 10px;
}

.useragent > span {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 0.85em;
	color: #aaa;
	line-height: 20px;
}
.useragent > span a {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.6em;
	padding: 0 0 0 6px;
	cursor: pointer;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent > span a.correct:hover {
	color: #1c8c1d;
}
.useragent > span a.wrong:hover {
	color: #853333;
}

@media (max-width: 680px) {
	.useragent {
		position: relative;
		border-left: 0;
		font-size: 0.75em;
		min-height: 1.7em;
	}
}


.useragent .expandWidget {
	position: absolute;
	top: 0;
	right: 0;

	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;

	color: #888;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent .expandedPanel {
	border-top: 4px solid #d9d9d9;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	height: 0;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent.expanded .expandedPanel {
	height: 100px;
}
.useragent.expanded .expandWidget {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.useragent table {
	margin: 10px;
	width: auto;
}

.useragent table th {
	padding-right: 16px;
	white-space: nowrap;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

.useragent table td,
.useragent table th {
	vertical-align: top;
	font-size: 0.9em;
	padding-bottom: 5px;
	text-align: left;
}



/********************************************
 *
 *   Your Browser: Details
 */

.resultsTable {
	margin-bottom: 40px;
}

.resultsTable .category {
	border-top: 1px solid rgba(0,0,0,0);
}
.resultsTable .category h2 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	text-transform: lowercase;
}
.resultsTable .category h2::before {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.2em;
	padding-right: 4px;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
}
.resultsTable .category.semantics h2::before { content: ''; }
.resultsTable .category.offlinestorage h2::before { content: ''; }
.resultsTable .category.deviceaccess h2::before { content: ''; }
.resultsTable .category.connectivity h2::before { content: ''; }
.resultsTable .category.multimedia h2::before { content: ''; }
.resultsTable .category.graphicseffects h2::before { content: ''; }
.resultsTable .category.performanceintegration h2::before { content: ''; }

.resultsTable table {
	border-spacing: 0;

	position: relative;
	margin: 0 0 24px;

	background: #fff;
	color: #000;

	border-collapse: separate;
}
.resultsTable table thead tr {
	color: #fff;
	background: #0092bf;
}
.resultsTable table thead tr > * {
	border-bottom: 8px solid #d9d9d9;
}
.resultsTable table thead th {
	position: relative;

	padding: 0px 10px;
	height: 44px;

    font-family: 'League Gothic', Impact;
    font-weight: normal;

	font-size: 2em;
	text-align: left;
}
.resultsTable table thead td {
	position: relative;

	padding: 0px 10px;
	width: 44px;

	text-align: right;
}
.resultsTable table thead th div.grade {
	position: absolute;
	top: 0;
	right: 0;
}
.resultsTable table thead th div > span {
	display: block;
	height: 100%;
	line-height: 44px;
	padding: 0 10px;
    font-family: 'League Gothic', Impact;
    font-size: 0.8em;
}
.resultsTable table thead th span.none {
	background-color: #853333;
}
.resultsTable table thead th span.badly {
	background-color: #d68533;
}
.resultsTable table thead th span.reasonable {
	background-color: #e7c333;
}
.resultsTable table thead th span.good {
	background-color: #88b038;
}
.resultsTable table thead th span.great {
	background-color: #33af33;
}

.resultsTable table tbody th {
	padding: 5px 10px;

	font-size: 0.75em;
	font-weight: normal;
	text-align: left;
	position: relative;
}
.resultsTable table tbody td {
	padding: 5px 10px;

	font-size: 0.75em;
	text-align: right;
	white-space: nowrap;
}
.resultsTable table tbody tr:first-child th,
.resultsTable table tbody tr:first-child td {
	padding-top: 8px;
}
.resultsTable table tbody tr:last-child th,
.resultsTable table tbody tr:last-child td {
	padding-bottom: 8px;
}

.resultsTable table tbody th code {
	font-size: 12px;
}
.resultsTable table th.details {
	padding: 16px 40px 5px 10px;
}
.resultsTable table tr:first-child th.details {
	padding-top: 8px;
}
.resultsTable table th.details em {
	color: #666;
	font-size: 90%;
}
.resultsTable table tr.hasChild th {
	cursor: pointer;
	padding-left: 28px;
}
.resultsTable table tr th.hasLink:hover {
	cursor: pointer;
}
.resultsTable table tr th.hasLink:hover > div > span {
	text-decoration: underline;
}
.resultsTable table tr.hasChild th > * {
	position: relative;
}
.resultsTable table tr.hasChild th > ::before {
	position: absolute;
	top: 2px;
	left: -18px;

	display: block;
	font-family: html5test;
	font-size: 11px;
	content: '▼';
	color: #888;

	-webkit-transition: -webkit-transform 200ms ease;
	-moz-transition: -moz-transform 200ms ease;
	-ms-transition: -ms-transform 200ms ease;
	transition: transform 200ms ease;
}
.resultsTable table tr.hasChild.hidden th > ::before {
	-webkit-transform: rotate(-90deg) translateX(-1px);
	-moz-transform: rotate(-90deg) translateX(-1px);
	-ms-transform: rotate(-90deg) translateX(-1px);
	transform: rotate(-90deg) translateX(-1px);
}
.resultsTable table tr.hasChild th,
.resultsTable table tr.hasChild td {
	border-bottom: 1px solid #ccc;;
}
.resultsTable table tr.hasChild.hidden th,
.resultsTable table tr.hasChild.hidden td {
	border-bottom: none;
}
.resultsTable table tr.isChild {
	display: none;
}
.resultsTable table tr.isChild th div,
.resultsTable table tr.isChild td div {
}
.resultsTable table tr.isChild.expanded {
	display: table-row;
}
.resultsTable table tr.isChild.expanded th div,
.resultsTable table tr.isChild.expanded td div {
}
.resultsTable table tr.isChild th {
	background: #f6f6f6;
	font-size: 0.7em;
	padding: 5px 10px 3px 28px;
}
.resultsTable table tr.isChild td {
	background: #f6f6f6;
	font-size: 0.7em;
	padding: 5px 10px;
}
.resultsTable table tr.isChild th code {
	font-size: 11px;
}
.resultsTable h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #aaa;
	margin: 2em 0 0.5em;
}
.resultsTable a {
	color: #000;
	text-decoration: none;
}
.resultsTable a:hover {
	text-decoration: underline;
}

.linksPanel {
	max-width: 120%;
	min-width: 291px;
	padding: 4px 0;
	margin-top: 9px;
	margin-left: -2px;
}
.linksPanel.popupPanel.pointsLeft::after, .linksPanel.popupPanel.pointsRight::after {
	border-bottom: 8px solid #f6f6f6;
}

.linksPanel .info {
	position: relative;
	border-bottom: 4px solid #eee;
	background: #f6f6f6;
	top: -4px;
	font-size: 0.75em;
	height: 66px;
	margin-bottom: 6px;
	line-height: 15px;
}
.linksPanel .info .column {
	position: absolute;
	width: 33%;
	height: 66px;
	top: 0;
	cursor: default;
	box-sizing: border-box;
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
}
.linksPanel .info .left {
	left: 0;
	border-left: none;
}
.linksPanel .info .middle {
	left: 33%;
	width: 34%;
}
.linksPanel .info .right {
	left: 67%;
	border-right: none;
}
.linksPanel .info .column span {
	color: #000;
	text-decoration: none;
}
.linksPanel .info .column a {
	display: block;
	width: 100%;
	height: 66px;
	color: #000;
	text-decoration: none;
}
.linksPanel .info .column a:hover {
	background: #eee;
}
.linksPanel .info .column span {
	position: absolute;
	left: 0;
	width: 100%;
	top: 46px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.9em;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}
.linksPanel .info .left h2 {
	text-align: center;
	padding-top: 0.3em;
}
.linksPanel .info .middle em {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -16px;

	display: block;
	width: 32px;
	height: 32px;
	color: #fff;
	text-align: center;
	line-height: 34px;
	font-style: normal;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
    font-size: 2.5em;
	z-index: 2;
}
.linksPanel .info .middle em::before {
	position: absolute;
	top: 0;
	display: block;
	content: '';
	width: 0;
	height: 0;
	border: 16px solid #0092bf;
	border-radius: 16px;
	z-index: -1;
}
.linksPanel .info .middle.none em::before {
	border: 16px solid #aaa;
}
.linksPanel .info .middle.none em {
	font-family: html5test;
	font-size: 1.5em;
}
.linksPanel .info .status::after {
	position: absolute;
	top: 19px;
	width: 100%;
	text-align: center;
	display: block;
	content: '';
	font-family: html5test;
	font-size: 29px;
}
.linksPanel .info .status.recommendation::after {
	content: '';
	color: #33af33;
}
.linksPanel .info .status.stable::after {
	content: '';
	color: #33af33;
}
.linksPanel .info .status.proposal::after {
	content: '';
	color: #88b038;
}
.linksPanel .info .status.experimental::after {
	content: '';
	color: #ec6534;
}
.linksPanel .info .status.controversial::after {
	content: '';
	color: #ec6534;
}
.linksPanel .info .status.optional::after {
	content: '';
	color: #aaa;
}
.linksPanel .info .status.rejected::after {
	content: '';
	color: #853333;
}
.linksPanel .info .column a.compare::before {
	position: absolute;
	top: 19px;
	width: 100%;
	text-align: center;
	display: block;
	content: '⚏';
	font-family: html5test;
	font-size: 30px;
	color: #33af33;
}
.linksPanel .info .column a.timeline::before {
	position: absolute;
	top: 19px;
	width: 100%;
	text-align: center;
	display: block;
	content: '';
	font-family: html5test;
	font-size: 30px;
	color: #33af33;
}

.linksPanel h3 {
	line-height: 32px;
	padding: 0 10px;
	border-bottom: 1px solid #eee;
}
.linksPanel .links a {
	display: block;
	white-space: nowrap;
	line-height: 30px;
	padding: 0 10px;

	background-size: 24px 24px;
	background-position: 10px center;
	background-repeat: no-repeat;

	overflow: hidden;
	text-overflow: ellipsis;
}
.linksPanel .links a:hover {
	background-color: #eee;
	text-decoration: none;
}
/*
.linksPanel a.compare {
	border-bottom: 1px solid #eee;
}
*/
.linksPanel .links a.w3c {
	background-image: url(/images/external/w3c.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.linksPanel .links a.whatwg {
	background-image: url(/images/external/whatwg.svg);
	background-size: 20px 20px;
	text-indent: 32px;
}
.linksPanel .links a.khronos {
	background-image: url(/images/external/khronos.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.linksPanel .links a.wp {
	background-image: url(/images/external/wp.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.linksPanel .links a.mdn {
	background-image: url(/images/external/mdn.png);
	text-indent: 32px;
}
.linksPanel .links a.ecma {
	background-image: url(/images/external/ecma.png);
	text-indent: 32px;
}
.linksPanel .links a.ricg {
	background-image: url(/images/external/ricg.svg);
	background-size: 30px 30px;
	text-indent: 32px;
}

/********************************************
 *
 *   Your Browser: Explaination
 */

#html5 {
	float: right;
	display: block;
	width: 74px;
	height: 102px;
	margin: 16px 0 10px 10px;
	background: url(/images/html5.png);
	background-size: 74px 102px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#html5 {
		background-image: url(/images/html5@2x.png);
	}
}

.paper .buttons {
	padding: 0 !important;
	overflow: hidden;
}
.paper .buttons > * {
	display: inline-block;
	float: left;
	width: 25%;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 680px) {
	.paper .buttons > * {
		width: 50%;
	}
}

@media (max-width: 432px) {
	.paper .buttons > * {
		width: 100%;
	}
}


/********************************************
 *
 *   Your Browser: Ads
 */

#headerad {
	position: absolute;
	top: 0;
	right: 0;

	width: 125px;
	height: 125px;
	background: #eee;
	overflow: hidden;
	padding: 10px;
	border-bottom: 8px solid #d9d9d9;
	border-left: 8px solid #d9d9d9;
}
#headerad div {
	width: 125px;
	height: 125px;
	display: inline-block;
}

#footerad {
	margin-top: 30px;
	overflow: hidden;
	background: #eee;
	padding: 10px;
	text-align: center;
}
#footerad > div a,
#footerad > div iframe {
	width: 125px;
	height: 125px;
	overflow: hidden;
	margin: 0 5px;
	display: inline-block;
	float: none;
	vertical-align: middle;
}

@media (max-width: 680px) {
	#headerad {
		position: static;
		border: none;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 30px;
	}
}





