
/********************************************
 *
 *   Import fonts	
 */

@font-face {
	font-family: 'html5test';
	src:url('/fonts/html5test.eot');
	src:url('/fonts/html5test.eot?#iefix') format('embedded-opentype'),
		url('/fonts/html5test.woff') format('woff'),
		url('/fonts/html5test.ttf') format('truetype'),
		url('/fonts/html5test.svg#html5test') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/leaguegothic-regular-webfont.eot');
    src: url('/fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('/fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}






/********************************************
 *
 *   Basic styles
 *
 *   Background: 	#d9d9d9
 *	 Blue:			#0092bf
 *   Orange:		#ec6534			
 */

* {
	padding: 0;				
	margin: 0;
	
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1.1em;
}

body {
	background: #d9d9d9;
}

h2 {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 3.8em;
	line-height: 100%;
	text-transform: uppercase;

	color: #0092bf;
}

h3 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1.05em;
}

strong {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

img {
	border: none;
}

table {
	border-collapse: collapse; 
	width: 100%;
}




/********************************************
 *
 *   Header and navigation
 */

.header {
	background: #eee;
}
.header h1 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	text-transform: uppercase;
	color: #666;
	padding: 8px 20px;
	margin: 0 auto;
	max-width: 900px;
}
.header h1 span {
	margin-right: 10px;
}
.header h1 span,
.header h1 em {
	display: inline-block;	
}

.header h1 strong {
	font-family: html5test;	
	font-weight: normal;
	font-size: 1.8em;
	color: #ec6534;
	-webkit-font-smoothing: antialiased;
	
	position: relative;
	top: 7px;
}

.header h1 em {
	font-style: normal;
	text-transform: lowercase;
	font-size: 1.15em;
	color: #bbb;
}
.header div {
	margin: 10px auto 0;
	overflow: hidden;
	max-width: 900px;
	padding: 0 20px;
}
.header ul {
	list-style-type: none;
	margin-bottom: 8px;
}
.header ul.left {
	float: left;
}
.header ul.right {
	float: right;
}

.header ul li {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	padding: 0 10px;
	line-height: 32px;
	color: #fff;
	font-size: 0.9em;
	text-transform: lowercase;
	background: #aaa;
}
.header ul li.selected {
	background: #0092bf;
}
.header ul li a {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 680px) {
	.header h1 {
		width: 400px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.header h1 em {
		font-size: 1em;
	}

	.header div {
		width: auto;
	}
	.header ul {
		padding: 0 !important;
		margin: 0 0 12px 0 !important;
		width: 50%;
	}
	.header ul li {
		line-height: 30px;
		margin-bottom: 3px;
		clear: left;
	}
	.header ul.right {
		padding-left: 10px;
	}
	.header ul.left li {
		float: right;
		clear: right;
		margin-right: 6px;
	}
	.header ul.right li {
		margin-left: 6px;
	}
}

@media (max-width: 432px) {
	.header h1 {
		width: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
	.header h1 em {
		font-size: 0.9em;
	}
	.header ul {
		font-size: 0.85em;
	}
	.header ul.left {
		padding-left: 16px;
	}
	.header ul li {
		padding: 0 8px;
		line-height: 28px;
	}
}

/********************************************
 *
 *   Footer
 */

.footer {
	background: #444;
	margin-top: 30px;
	padding: 0 20px 20px 20px;
	overflow: hidden;
	min-height: 130px;
}
.footer > div {
	padding-right: 130px;
	position: relative;
}
.footer > div .hosting {
	position: absolute;
	top: 0;
	left: 0;
}
.footer > div .copyright {
	margin: 24px 0 0 72px;
	font-size: 0.75em;
	color: #777;
}
.footer > div .copyright a {
	color: #888;
}
.footer > div .copyright p {
	margin-bottom: 0.8em;
}

#cloudvps a {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #555;
	
	display: block;
	background: url(/images/cloudvps.png) no-repeat 16px top;
	background-size: 59px 43px;
	padding-top: 56px;
	padding-left: 16px;
	
	text-decoration: none;
	color: #ddd;
	font-size: 95%;
}
#cloudvps a b {
	font-size: 110%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#cloudvps a {
		background-image: url(/images/cloudvps@2x.png);
		background-size: 59px 43px;
	}
}

@media (max-width: 680px) {
	.footer > div {
		padding-right: 0;
		padding-bottom: 60px;	
	} 
	
	#cloudvps a {
		top: auto;
		left: 70px;		
		
		border-left: none;
		border-top: 1px solid #555;
		padding-top: 12px;
		padding-left: 70px;
		background-position: left 16px;
	}
}



/*******************************************************************************
 *
 *   Global: Page grid
 */

.page {
	margin: 2.5em auto 0;
	max-width: 900px;
	padding: 0 20px;
}
.page .column {
	position: relative;

	zoom: 1;
	display: inline-block;       
	*display: inline;
	vertical-align: top;
}
.page .column .left,
.page .column .right {
	width: 50%;	
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.page .column .left {
	padding-right: 10px;
}
.page .column .right {
	padding-left: 10px;
}

@media (max-width: 680px) {
	.page {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.page .column {
		width: auto;
		max-width: 400px;
		overflow: hidden;
		text-align: left;
	}
	.page .column .left,
	.page .column .right {
		width: 100%;	
		padding: 0;
	}
}

@media (max-width: 432px) {
	.page .column {
		width: 90% !important;
	}
}


/********************************************
 *
 *   Global: Text styles
 */

.paper {
	position:relative;
	background: #fff;
	color: #000;

	font-size: 0.75em;
	line-height: 150%;
	
	margin-bottom: 60px;
}
.paper.hasNavigation {
	top: 32px;
	margin-bottom: 52px;
}
.paper > ul {
	position:absolute;
	top: -32px;

	margin: 0;
	overflow:hidden;
	list-style-type: none;
}
.paper > ul li {
	display: block;
	float: left;
	
	margin: 0 3px 0 0;
	padding: 0 10px;
	line-height: 32px;
	color: #fff;
	font-size: 1.1em;
	text-transform: lowercase;

	background: #aaa;
}
.paper > ul li.selected {
	background: #fff;
}
.paper > ul li a {
	color: #fff;
	text-decoration: none;
}
.paper > ul li.selected a {
	color: #000;
}
.paper > div {
	padding: 20px;
}
.paper > div h2 {
	clear: both;
	margin-bottom: 10px;
}
.paper > div h3 {
	margin: 1em 0 0.5em;
}
.paper > div p {
	margin: 0 0 0.5em;
}
.paper > div p + h3 {
	margin-top: 1.5em;
}
/*
.paper > div a {
	color: #333;
}
*/
.paper > div hr {
	clear: both;
	margin: 20px -20px;
	border: none;
	border-top: 8px solid #d9d9d9;
}
.paper > div .text {
	-moz-column-count: 3;
	-moz-column-gap: 16px;
	-webkit-column-count: 3;
	-webkit-column-gap: 16px;
	column-count: 3;
	column-gap: 16px;
}

@media (max-width: 767px) {
	.paper > div .text {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 680px) {
	.paper > div .text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	.paper ul li span {
		display: none;
	}
}	

@media (max-width: 432px) {
	.paper ul {
		font-size: 0.8em;	
	}
	
	.paper ul li {
		padding: 0 6px;
	}
}


/********************************************
 *
 *   Global: UI elements > Popup
 */

.popupPanel {
	position: absolute;
	background: #fff;
	z-index: 1;

	border: 4px solid #aaa;
}

.popupPanel.pointsLeft::before,
.popupPanel.pointsRight::before {
	content: '';
	display: block;
	
	position: absolute;
	width: 0;
	height: 0;
	top: -13px;
	left: 7px;
	z-index: 10;
	
	border-bottom: 11px solid #aaa;
	border-right: 11px solid transparent;
	border-left: 11px solid transparent;
}
.popupPanel.pointsLeft::after,
.popupPanel.pointsRight::after {
	content: '';
	display: block;
	
	position: absolute;
	width: 0;
	height: 0;
	top: -7px;
	left: 10px;
	z-index: 11;
	
	border-bottom: 8px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

.popupPanel.pointsRight::before {
	left: auto;
	right: 7px;
}
.popupPanel.pointsRight::after {
	left: auto;
	right: 10px;
}


/********************************************
 *
 *   Global: UI elements > Toggle
 */

.toggle {
	display: block;
	cursor: pointer;
	
	position: relative;
	width: 200px;	
	height: 40px;
	
	line-height: 40px;
	text-align: center;
	background: #d9d9d9;
}
.toggle .part {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.toggle .first {
	color: #fff;
}
.toggle.selected .first {
	color: inherit;
}
.toggle .second {
	left: 100px;
}
.toggle.selected .second {
	color: #fff;
}

.toggle .background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100px;
	
	background: #0092bf;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.toggle.selected .background {
	left: 100px;
}


/********************************************
 *
 *   Global: UI elements > Buttons
 */

.button {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	border: none;
	padding: 10px 2px 10px 10px;
	margin: 0;
	cursor: pointer;
	vertical-align: top;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1em;
	text-decoration: none;
	text-align: left;
}
.button > span {
	vertical-align: middle;
}
.button > span::before {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.4em;
	margin-right: 6px;
	vertical-align: top;

	-webkit-font-smoothing: antialiased;
}

.button.website { background: #444; color: #fff; }
.button.website span::before { content: ''; }
.button.followme { background: #0092bf; color: #fff; }
.button.followme span::before { content: ''; }
.button.donate { background: #ffd500; color: #000; }
.button.donate span::before { content: ''; }
.button.developed { background: #ccc; color: #000; }
.button.developed span::before { content: ''; }
.button.compare { background: #33af33; color: #fff; }
.button.compare span::before { content: '☉'; }
.button.save { background: #0092bf; color: #fff; }
.button.save span::before { content: '☁'; }
.button.share { background: #ec6534; color: #fff; }
.button.share span::before { content: ''; }




/********************************************
 *
 *   Global: UI elements > Tables
 */

.detailsTable .check,
.detailsTable .ballot,
.detailsTable .buggy,
.detailsTable .partial,
.detailsTable .unknown {
	position: relative;
	display: inline-block;
	
	top: -1px;
	
	color: #888;
	font-size: 1.2em;
	margin: 0 0 0 6px;
	width: 1em;
	text-align: center;
	vertical-align: middle;
}
.detailsTable .check {
	font-family: html5test;
	font-weight: normal;
	color: #1c8c1d;
}
.detailsTable .ballot {
	font-family: html5test;
	font-weight: normal;
	color: #853333;
}
.detailsTable .buggy {
	font-family: html5test;
	font-weight: normal;
	color: #ec6534;
}
.detailsTable .partial {
	font-family: html5test;
	font-weight: normal;
}
.detailsTable .partially {
	color: #888;
}











/*******************************************************************************
 *
 *   Your Browser: Loading
 */

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
	}
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#loading {
	min-height: 500px;
	position: relative;
} 

#loading div {
	display: block;

	position: absolute;
	top: 100px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;

	font-family: html5test;
	font-size: 100px;
	line-height: 100px;
	text-align: center;
	color: #bbb;

    -webkit-animation: loader 1s steps(8) infinite;
    animation: loader 1s steps(8) infinite;
}
 


/*******************************************************************************
 *
 *   Your Browser: Score
 */


.pointsPanel {
	background: #fff;
	min-height: 145px;
	padding: 0 155px 0 0;
}
.saved .pointsPanel {
	padding: 0;
}
.pointsPanel h2 {
	font-size: 2.3em;
	color: #aaa;
	text-align: center;
	line-height: 40px;
	margin: 0;
	
}
.pointsPanel h2 > strong,
.pointsPanel h2 > span {
	display: inline-block;
	vertical-align: middle;

	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);
}
.pointsPanel h2 > strong {
	font-family: inherit;
    font-weight: normal;
	font-size: 3.8em;
	color: #0092bf;
	line-height: 145px;
	margin: 0 10px;
}

.wrapper {
	margin: 8px 0 20px;
	position: relative;	
}

@media (max-width: 900px) {
	.pointsPanel {
		font-size: 90%;
	}
}
@media (max-width: 820px) {
	.pointsPanel {
		font-size: 80%;
	}
}

@media (max-width: 767px) {
	.pointsPanel {
		font-size: 100%;
	}
	.pointsPanel h2 {
		padding: 10px 0;
	}
	.pointsPanel h2 > span,
	.pointsPanel h2 > strong {
		display: block;
	}
}	

@media (max-width: 680px) {
	.pointsPanel {
		padding: 0;
	}
}





/********************************************
 *
 *   Your Browser: Share
 */

.popupPanel.save {
	width: 210px;
	margin-top: 21px;
	margin-left: -10px;
	padding: 20px 10px 10px;
	
	text-align: center;
	color: #000;
	cursor: auto;
}
.popupPanel.save a {
	color: #0092bf;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.popupPanel.save a:hover {
	text-decoration: underline;
}
.popupPanel.save p {
	margin-bottom: 1em;
}
.popupPanel.save code {
	font-size: 1.5em;
}



/********************************************
 *
 *   Your Browser: Share
 */

.popupPanel.share {
	width: 210px;
	margin-top: 21px;
	margin-left: -10px;
}
#share {
	display: block;
	height: 94px;	
	position: relative;
}
#share #twitter {
	position: absolute;
	top: 15px;
	left: 15px;
}
#share #facebook {
	position: absolute;
	top: 15px;
	left: 75px;
}
#share #google {
	position: absolute;
	top: 15px;
	left: 141px;
}



/********************************************
 *
 *   Your Browser: Action buttons
 */

.wrapper .buttons {
	font-size: 0.75em;

}
.wrapper .buttons > * {
	width: 25%;
	display: inline-block;
}

@media (max-width: 680px) {
	.wrapper .buttons > * {
		width: 50%;
	}
}

@media (max-width: 280px) {
	.wrapper .buttons > * {
		width: 100%;
	}
	
	.wrapper .buttons .donate {
		display: none;
	}
}



/********************************************
 *
 *   Your Browser: Useragent
 */

.useragent {
	position: relative;
	box-sizing: border-box;
	border-top: 8px solid #d9d9d9; 
	display: block;

	text-align: left;
	text-transform: none;
	font-size: 0.8em;
	color: #222;
	padding: 10px 100px 10px 10px;
	background: #eee;
}
.saved .useragent {
	position: relative;
	left: auto;
	border-left: 0;
	padding: 0;
	cursor: pointer;
}
.saved .useragent p {
	padding: 10px;
}

.useragent span {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 0.85em;
	color: #aaa;
	line-height: 20px;
}
.useragent span a {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.6em;
	padding: 0 0 0 6px;
	cursor: pointer;
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent span a.correct:hover {
	color: #1c8c1d;
}
.useragent span a.wrong:hover {
	color: #853333;
}

@media (max-width: 680px) {
	.useragent {
		position: relative;
		border-left: 0;
		font-size: 0.75em;
		min-height: 1.7em;
	}
}	


.useragent .expandWidget {
	position: absolute;
	top: 0;
	right: 0;

	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;

	color: #888;
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent .expandedPanel {
	border-top: 4px solid #d9d9d9;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	height: 0;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.useragent.expanded .expandedPanel {
	height: 100px;
}
.useragent.expanded .expandWidget {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.useragent table {
	margin: 10px;
	width: auto;
}

.useragent table th {
	padding-right: 16px;	
	white-space: nowrap;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

.useragent table td, 
.useragent table th {
	vertical-align: top;
	font-size: 0.9em;
	padding-bottom: 5px;
	text-align: left;
}



/********************************************
 *
 *   Your Browser: Details
 */

.resultsTable {
	margin-bottom: 40px;
}

.resultsTable .category {
	border-top: 1px solid rgba(0,0,0,0);
}
.resultsTable .category h2 {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	text-transform: lowercase;
}
.resultsTable .category h2::before {
	font-family: html5test;
	font-weight: normal;
	font-size: 1.2em;
	padding-right: 4px;
	vertical-align: middle;
	
	-webkit-font-smoothing: antialiased;
}
.resultsTable .category.semantics h2::before { content: ''; }
.resultsTable .category.offlinestorage h2::before { content: ''; }
.resultsTable .category.deviceaccess h2::before { content: ''; }
.resultsTable .category.connectivity h2::before { content: ''; }
.resultsTable .category.multimedia h2::before { content: ''; }
.resultsTable .category.graphicseffects h2::before { content: ''; }
.resultsTable .category.performanceintegration h2::before { content: ''; }

.resultsTable table {
	border-spacing: 0;
	
	position: relative;
	margin: 0 0 24px;
	
	background: #fff;
	color: #000;
	
	border-collapse: separate;
}
.resultsTable table thead tr {
	color: #fff;
	background: #0092bf;
}
.resultsTable table thead tr > * {
	border-bottom: 8px solid #d9d9d9;
}
.resultsTable table thead th {
	position: relative;

	padding: 0px 10px;
	height: 44px;
	
    font-family: 'League Gothic', Impact;
    font-weight: normal;

	font-size: 2em;
	text-align: left;
}
.resultsTable table thead td {
	position: relative;

	padding: 0px 10px;
	width: 44px;
	
	text-align: right;
}
.resultsTable table thead td div.grade {
	position: absolute;
	top: 0;
	right: 0;
}
.resultsTable table thead td div > span {
	display: block;
	height: 100%;
	line-height: 44px;
	padding: 0 10px;
    font-family: 'League Gothic', Impact;
    font-size: 1.6em;
}
.resultsTable table thead td span.none {
	background-color: #853333;
}
.resultsTable table thead td span.badly {
	background-color: #d68533;
}
.resultsTable table thead td span.reasonable {
	background-color: #e7c333;
}
.resultsTable table thead td span.good {
	background-color: #88b038;
}
.resultsTable table thead td span.great {
	background-color: #33af33;
}

.resultsTable table thead td span.bonus {
	position: absolute;
	top: 7px;
	left: -37px;
	height: 30px;
	width: 27px;
	padding: 0 0 0 3px;
	
	white-space: nowrap;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1.1em;
	text-transform: lowercase;
	font-weight: bold;
	text-align: left;
	line-height: 30px;
	
	color: #0092bf;

	background: #fff;
	opacity: 0.6;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.resultsTable table thead td:hover span.bonus {
	width: 120px;
	left: -130px;
	opacity: 1;
}

.resultsTable table thead td span.bonus::after {
	position: absolute;
	right: -6px;
	top: 9px;
	content: ' ';
	display: block;
	width: 0px;
	height: 0px;
	background: red;
	border-left: 6px solid #fff;
	border-top: 6px solid #0092bf;
	border-bottom: 6px solid #0092bf;
	border-right: none;
}
.resultsTable table thead td span.bonus span {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 0.7em;
	opacity: 0;
	width: 8px;
	overflow: hidden;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.resultsTable table thead td:hover span.bonus span {
	width: 100px;
	opacity: 1;
}
.resultsTable table tbody th {
	padding: 5px 10px;
	
	font-size: 0.75em;
	font-weight: normal;
	text-align: left;
	position: relative;
} 
.resultsTable table tbody td {
	padding: 5px 10px;

	font-size: 0.75em;
	text-align: right;
	white-space: nowrap;
}
.resultsTable table tbody tr:first-child th,
.resultsTable table tbody tr:first-child td {
	padding-top: 8px;
}
.resultsTable table tbody tr:last-child th,
.resultsTable table tbody tr:last-child td {
	padding-bottom: 8px;
}

.resultsTable table tbody th code {
	font-size: 12px;
}
.resultsTable table th.details {
	padding: 16px 40px 5px 10px;
}
.resultsTable table tr:first-child th.details {
	padding-top: 8px;
}
.resultsTable table th.details em { 
	color: #666;
	font-size: 90%;
}
.resultsTable table tr.hasChild th {
	cursor: pointer;
	padding-left: 28px;
}
.resultsTable table tr th.hasLink:hover {
	cursor: pointer;
}
.resultsTable table tr th.hasLink:hover span {
	text-decoration: underline;
}
.resultsTable table tr.hasChild th > * {
	position: relative;
}
.resultsTable table tr.hasChild th > ::before {
	position: absolute;
	top: 2px;
	left: -18px;

	display: block;
	font-family: html5test;
	font-size: 11px;
	content: '▼';
	color: #888;
}
.resultsTable table tr.hasChild.hidden th > ::before {
	content: '▶';
}
.resultsTable table tr.hasChild th,
.resultsTable table tr.hasChild td {
	border-bottom: 1px solid #ccc;;
}
.resultsTable table tr.hasChild.hidden th,
.resultsTable table tr.hasChild.hidden td {
	border-bottom: none;
}
.resultsTable table tr.isChild {
	display: none;
}
.resultsTable table tr.isChild th div,
.resultsTable table tr.isChild td div {
}
.resultsTable table tr.isChild.expanded {
	display: table-row;
}
.resultsTable table tr.isChild.expanded th div,
.resultsTable table tr.isChild.expanded td div {
}
.resultsTable table tr.isChild th {
	background: #f6f6f6;
	font-size: 0.7em;
	padding: 5px 10px 3px 28px;
}
.resultsTable table tr.isChild td {
	background: #f6f6f6;
	font-size: 0.7em;
	padding: 5px 10px;
}
.resultsTable table tr.isChild th code {
	font-size: 11px;
}
.resultsTable h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: #aaa;
	margin: 2em 0 0.5em;
}
.resultsTable a {
	color: #000;
	text-decoration: none;
}
.resultsTable a:hover {
	text-decoration: underline;
}

.resultsTable .linksPanel {
	max-width: 120%;
	padding: 4px 0;
	margin-top: 9px;
	margin-left: -2px;
}
.resultsTable .linksPanel h3 {
	line-height: 32px;
	padding: 0 10px;
	border-bottom: 1px solid #eee;
}
.resultsTable .linksPanel a {
	display: block;
	white-space: nowrap;
	line-height: 30px;
	padding: 0 10px;

	background-size: 24px 24px;
	background-position: 10px center;
	background-repeat: no-repeat;

	overflow: hidden;
	text-overflow: ellipsis;
} 
.resultsTable .linksPanel a:hover {
	background-color: #eee;
	text-decoration: none;
}
.resultsTable .linksPanel a.compare {
	border-bottom: 1px solid #eee;
}
.resultsTable .linksPanel a.w3c {
	background-image: url(/images/w3c-logo.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.resultsTable .linksPanel a.whatwg {
	background-image: url(/images/whatwg-logo.svg);
	background-size: 20px 20px;
	text-indent: 32px;
}
.resultsTable .linksPanel a.khronos {
	background-image: url(/images/khronos-logo.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.resultsTable .linksPanel a.wp {
	background-image: url(/images/wp-logo.png);
	background-size: 24px 24px;
	text-indent: 32px;
}
.resultsTable .linksPanel a.mdn {
	background-image: url(/images/mdn-logo.png);
	text-indent: 32px;
}

/********************************************
 *
 *   Your Browser: Explaination
 */

#html5 {
	float: right; 
	display: block;
	width: 74px;
	height: 102px;
	margin: 16px 0 10px 10px;
	background: url(/images/html5.png);
	background-size: 74px 102px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#html5 {
		background-image: url(/images/html5@2x.png);
	}
}

.paper .buttons {
	padding: 0 !important;
	overflow: hidden;
}
.paper .buttons > * {
	display: inline-block;
	float: left;
	width: 25%;
}

@media (max-width: 680px) {
	.paper .buttons > * {
		width: 50%;
	}
}

@media (max-width: 432px) {
	.paper .buttons > * {
		width: 100%;
	}
}


/********************************************
 *
 *   Your Browser: Ads
 */

#headerad {
	position: absolute;
	top: 0;
	right: 0;
	
	width: 125px;
	height: 125px;
	background: #eee;
	overflow: hidden;
	padding: 10px;
	border-bottom: 8px solid #d9d9d9; 
	border-left: 8px solid #d9d9d9; 
}
#headerad div {
	width: 125px;
	height: 125px;
	display: inline-block;
}

#footerad {
	margin-top: 30px;
	overflow: hidden;
	background: #eee;
	padding: 10px;
	text-align: center;
}
#footerad > div a {
	width: 125px;
	height: 125px;
	overflow: hidden;
	margin: 0 5px;
	display: inline-block;
	float: none;
}

@media (max-width: 680px) {
	#headerad {
		position: static;
		border: none;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 30px;
	}
}






/*******************************************************************************
 *
 *   Other browsers: Ranking
 */

.rankingPanel dl {
	float: left;
	margin-bottom: 20px;
	padding: 10px 8px;
	overflow: hidden;
	text-align: center;

	background: #ddd;
	
	width: 140px;
	height: 140px;
	
	box-sizing: border-box;
}
.rankingPanel dl#winner {
	background: #0092bf; 
}
.rankingPanel dl#upcoming {
	float: right;
	margin: 0;
}
.rankingPanel dl dt {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
	font-size: 1.3em;
	text-transform: lowercase;
	font-weight: bold;
	line-height: 90%;
	color: #666;
}
.rankingPanel dl dd {
	color: #666;
}
.rankingPanel dl dd.score {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-size: 7em;
	line-height: 75%;
	color: #0092bf;
	margin: 0;
	margin: 12px 0 4px;
}
.rankingPanel dl#winner dt,
.rankingPanel dl#winner dd {
	color: #fff;
}

@media (max-width: 360px) {
	.rankingPanel dl#runnerup {
		display: none;
	}
}
@media (max-width: 680px) {
	.rankingPanel dl#upcoming {
		display: none;
	}
}


/********************************************
 *
 *   Other browsers: Table
 */

.scorePanel {
	position: relative;
}
.scorePanel .left,
.scorePanel .right {
	float: left;
}

.scorePanel .left h3,
.scorePanel .right h3 {
	font-size: 1.6em;
	text-transform: lowercase;
	color: #888;
}

#scoreToggle {
	position: absolute;
	top: 0; 
	right: 0;	
}
.scoreTable {
	margin: 0 0 50px;
}
.scoreTable tr.hidden {
	display: none;
}
.scoreTable.showAll tr.hidden {
	display: table-row;
}
.scoreTable th,
.scoreTable td {
	font-weight: normal;
	text-align: left;
	
	border-top: 1px solid #ddd; 
	padding: 4px 0;
	vertical-align: top;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
}
.scoreTable thead th {
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;	
	border-top: none;
	font-weight: bold;
	position: relative;
}
.scoreTable thead th::after {
	display: block;
	position: absolute;
	content: '';
	width: 0px;
	height: 10px;
	border-right: 1px solid #ddd;	
	left: 0;
	bottom: 0;
}
.scoreTable thead th:last-child::before {
	display: block;
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-right: 1px solid #ddd;	
	right: 0;
	bottom: 0;
}
.scoreTable a {
	color: inherit;
	text-decoration: none;
	display: block;
}
.scoreTable a span {
	opacity: 0.4;
	font-size: 120%;
}
.scoreTable em {
	color: #888;
}
.scoreTable .nickname {
	width: 30%;
	padding-right: 10px;
	white-space: nowrap;
}
.scoreTable .details {
	width: 26%;
	padding-right: 10px;
}
.scoreTable .description {
	width: 28%;
	padding-right: 10px;
	font-size: 0.9em;
}
.scoreTable .description em {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 190px;
}
.scoreTable th.points {
	text-align: right;
}
.scoreTable td.points {
	width: 5%;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.1em;
	font-weight: bold;
}
/*
.scoreTable tr.hidden th,
.scoreTable tr.hidden td {
	color: #fff;

	-webkit-transition: color 0.5s 1s ease-in-out;
	-moz-transition: color 0.5s 1s ease-in-out;
	-ms-transition: color 0.5s 1s ease-in-out;
	-o-transition: color 0.5s 1s ease-in-out;
	transition: color 0.5s 1s ease-in-out;
}

.scoreTable.showAll tr.hidden th,
.scoreTable.showAll tr.hidden td {
	color: inherit;
}
*/


@media (max-width: 680px) {
	.scoreTable .description {
		display: none;
	}
}


/********************************************
 *
 *   Other browsers: Graph
 */

#fsCanvas {
	position: relative;
}
#fsButton {
	position: absolute;
	top: 30px;
	right: 8px;
	z-index: 10000;

	border: none;
	background: none;
	color: #888;
	font-size: 26px;
	font-weight: bold;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	
	cursor: pointer;
}
#fsButton::before {
	display: inline;
	content: '↔';
}


div:fullscreen {
	background: #fff;
	width: 100% !important;
	height: 100% !important;
}
div:fullscreen h2 {
	display: none;
}
div:fullscreen #fsButton {
	top: 10px;
	right: 40px;
}
div:fullscreen #fsButton::before {
	content: '+';
}
div:fullscreen #timelineGraph {
	position: absolute;
	top: 50px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	height: auto !important;
}

div:-webkit-full-screen {
	background: #fff;
	width: 100% !important;
	height: 100% !important;
}
div:-webkit-full-screen h2 {
	display: none;
}
div:-webkit-full-screen #fsButton {
	top: 10px;
	right: 40px;
}
div:-webkit-full-screen #fsButton::before {
	content: '+';
}
div:-webkit-full-screen #timelineGraph {
	position: absolute;
	top: 50px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	height: auto !important;
}

div:-moz-full-screen {
	background: #fff;
	width: 100% !important;
	height: 100% !important;
}
div:-moz-full-screen h2 {
	display: none;
}
div:-moz-full-screen #fsButton {
	top: 10px;
	right: 34px;
}
div:-moz-full-screen #fsButton::before {
	content: '+';
}
div:-moz-full-screen #timelineGraph {
	position: absolute;
	top: 50px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	height: auto !important;
}




/*******************************************************************************
 *
 *   Compare
 */

.comparisonTable table {
	margin-bottom: 40px;
	font-size: 1em;
}
.comparisonTable table th,
.comparisonTable table td {
	border-bottom: 1px solid #ddd;
	
	padding: 5px 0;
	font-weight: normal;
	text-align: left;
}
.comparisonTable table th code {
	font-size: 12px;
}
.comparisonTable table td {
	width: 95px;
	text-align: center;
	border-right: 1px solid #fff;
}
.comparisonTable table td.used {
	background-color: #eee; 
}
.comparisonTable table th em {
	font-style: normal;
	font-size: 90%;
	color: #888;
}
.comparisonTable table th.details {
	padding-top: 15px;
}
.comparisonTable table th.details em { 
	color: #666;
}
.comparisonTable table tr.hasChild th {
	cursor: pointer;
	padding-left: 20px;
}
.comparisonTable table tr.hasChild th > * {
	position: relative;
}
.comparisonTable table tr.hasChild th > ::before {
	position: absolute;
	top: -1px;
	left: -18px;
	
	display: block;
	font-family: html5test;
	font-size: 11px;
	content: '▼';
	color: #888;
}
.comparisonTable table tr.hasChild.hidden th > ::before {
	content: '▶';
}
.comparisonTable table tr.isChild th {
	font-size: 80%;
	padding: 4px 8px 3px 20px;
}
.comparisonTable table tr.isChild td {
	font-size: 80%;
	padding: 4px 0;
}
.comparisonTable table tr.isChild td.used {
	background-color: #f6f6f6;
}
.comparisonTable table tr.isChild th code {
	font-size: 10px;
}
.comparisonTable table th a {
	color: #000;
	text-decoration: none;
}
.comparisonTable table th a:hover {
	text-decoration: underline;
}
.comparisonTable table th a span {
	color: #aaa;
	font-size: 120%;
	text-decoration: none !important;
}
.comparisonTable table thead th {
	font-weight: bold;
	font-size: 1.6em;
	text-transform: lowercase;
	color: #888;

	background: none;
	padding: 8px 0;
}
.comparisonTable table h3 {
	font-weight: bold;
	font-size: 1.6em;
	text-transform: lowercase;
	color: #888;
	margin: 0;
	padding: 16px 0 8px;
}
.comparisonTable table tr:first-child h3 {
	padding: 0 0 8px;
}
.comparisonTable table thead td {
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	font-style: normal;
	font-size: 2.4em;

	color: #999;
	background: none;
	padding: 8px 0;
}
.comparisonTable h2 {
	color: #0092bf;
	clear: both;
	margin: 0 !important;
}
.comparisonTable #table-header td,
.comparisonTable #table-header th {
	border-bottom: none;
}
.comparisonTable #table-header #row-header th {
	padding: 0 40px 0 0;
	background: none;
}
.comparisonTable #table-header #row-header th p {
	margin: 0;
}
.comparisonTable #table-header #row-header td {
	background: #0092bf;
	height: 80px;
	cursor: pointer;
}
.comparisonTable #table-header #row-header td.empty {
	background: #b3deeb;
}
.comparisonTable #table-header #row-header div.name {
	display: table;
}
.comparisonTable #table-header #row-header span {
	display: block;
	text-align: center;
	width: 96px;
	color: #b3deeb;
}
.comparisonTable #table-header #row-header span.nickname {
	position: absolute;
	bottom: 68px;
	font-weight: bold;
	line-height: 105%;
	padding: 0 10px;
	width: 76px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.comparisonTable #table-header #row-header span.score {
	position: absolute;
	bottom: 32px;
	font-size: 4em;
	font-style: normal;
    font-family: 'League Gothic', Impact;
    font-weight: normal;
	color: #fff;
}
.comparisonTable #table-header #row-header span.feature {
	font-weight: bold;
	padding: 0 10px;
	width: 76px;
	display: table-cell;
	vertical-align: middle;
}
.comparisonTable #table-header #row-header span.feature code {
	font-size: 12px;
}

.comparisonTable #table-header #row-header span.bonus {
	position: absolute;
	bottom: 5px;
	font-size: 90%;
}
.comparisonTable #table-header #row-header td {
	padding: 0;
}
.comparisonTable #table-header #row-header td > div {
	position: relative;
	width: 96px;
	height: 90px;
}
.comparisonTable #table-header #row-header td > div > div.name {
	width: 96px;
	height: 90px;
}
.comparisonTable #table-header #row-header td.empty > div > div.name::after {
	position: absolute;
	top: 0;
	left: 0;

	line-height: 90px;
	width: 96px;
	height: 90px;

	display: block;
	content: '+';
	font-size: 3em;
	color: #0092bf;
}
.comparisonTable #table-header #row-header td > div > div.name:hover::after {
	background: #0092bf;
	color: #b3deeb;
}
.comparisonTable #table-header #row-header td:not(.empty) > div > div.name:hover::after {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	content: '×';
	font-size: 3em;
	
	line-height: 90px;
	width: 96px;
	height: 90px;
	z-index: 2;
}

.comparisonTable #table-header #row-header td .popup {
	display: none;

	position: absolute;
	top: 80px;
	left: -138px;
	z-index: 9;

	width: 200px;
}
.comparisonTable #table-header #row-header td .popup.visible {
	display: block;
}
.comparisonTable #table-header #row-header td .popup > div {
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;	
}
.comparisonTable #table-header #row-header td .popup ul {
	-webkit-transform: translate3d(0,0,0);
	width: 200px;
	margin: 0;
	padding: 10px 0;
	
	text-align: left;
	line-height: 170%;
	font-size: 0.9em;
	cursor: default;
}
.comparisonTable #table-header #row-header td .popup ul li {
	padding: 1px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.comparisonTable #table-header #row-header td .popup ul li em {
	font-style: normal;
	font-size: 90%;
	color: #888;
}
.comparisonTable #table-header #row-header td .popup ul li code {
	font-size: 11px;
}
.comparisonTable #table-header #row-header td .popup ul li.indent-1 {
	padding-left: 10px;
}
.comparisonTable #table-header #row-header td .popup ul li.indent-2 {
	padding-left: 20px;
}
.comparisonTable #table-header #row-header td .popup ul li.indent-3 {
	padding-left: 30px;
}
.comparisonTable #table-header #row-header td .popup ul li:hover {
	background: #eee;
	cursor: pointer;
}
.comparisonTable #table-header #row-header td .popup ul li.indent-0.title {
	font-weight: bold;
	color: #000;
	font-size: 115%;
	padding-top: 10px;
}
.comparisonTable #table-header #row-header td .popup ul li.title:hover {
	background: #fff;
	cursor: default;
}

@media (max-width: 880px) {
	.comparisonTable table tr :nth-child(6) {
		display: none;
	}
}
@media (max-width: 780px) {
	.comparisonTable table tr :nth-child(5) {
		display: none;
	}
}
@media (max-width: 680px) {
	.comparisonTable table tr :nth-child(4) {
		display: none;
	}
	.comparisonTable table {
		font-size: 0.95em;
	}
	.comparisonTable table th code {
		font-size: 10px;
	}
}
@media (max-width: 432px) {
	.comparisonTable table tr :nth-child(3) {
		display: none;
	}
}









.overviewTable {
	
}
.overviewTable th,
.overviewTable td {
	font-weight: normal;
	text-align: center;
	
	border-bottom: 1px solid #ddd; 
	padding: 6px 0;
	vertical-align: top;
	font-size: 1em;
	white-space: nowrap;
}
.overviewTable thead th {
	font-weight: bold;
	padding-bottom: 10px;
	white-space: inherit;
	position: relative;
}
.overviewTable thead th::after {
	display: block;
	position: absolute;
	content: '';
	width: 0px;
	height: 10px;
	border-right: 1px solid #ddd;	
	left: 0;
	bottom: 0;
}
.overviewTable thead th:last-child::before {
	display: block;
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-right: 1px solid #ddd;	
	right: 0;
	bottom: 0;
}
.overviewTable tbody th {
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	color: #888;
	width: 60px;
	padding-left: 10px;
	padding-right: 10px;
}
.overviewTable .development {
	background: #eee;
}
.overviewTable .current {
	background: #f6f6f6;
}
.overviewTable span.version {
	display: inline-block;
	width: 40px;
	text-align: right;
	font-size: 0.8em;
}
.overviewTable span.version span {
}
.overviewTable span.version span span {
	color: #fff;
	background: #aaa;
	padding: 2px 4px;
}
.overviewTable span.version > span::after {
	content: '';
	display: inline-block;
	border-left: 4px solid #aaa;
	border-top: 4px solid rgba(0,0,0,0);
	border-bottom: 4px solid rgba(0,0,0,0);
	width: 0;
	height: 0;
}
.overviewTable span.points {
	display: inline-block;
	width: 40px;
	font-weight: bold;
	text-align: left;
}
.overviewTable .current span.points {
	font-size: 1.2em;
}
.overviewTable .current span.version span span {
	background: #0092bf;
}
.overviewTable .current span.version > span::after {
	border-left: 4px solid #0092bf;
}


.horizontalOverflow {
	overflow: scroll;
	overflow-y: hidden;
}
