AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.html5test\.com$
RewriteRule ^ http://html5test.com%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^(beta.)?cn.html5test.com
RewriteRule ^translation.js$				/translations/cn/index.js
RewriteRule ^translation.js$				/translations/en/index.js

RewriteRule ^compare.html$					/compare/browser/index.html								[R]
RewriteRule ^results.html$					/results/desktop.html									[R]
RewriteRule ^results-mobile.html$			/results/mobile.html									[R]
RewriteRule ^results-tablets.html$			/results/tablet.html									[R]
RewriteRule ^results-tv.html$				/results/television.html								[R]

RewriteRule ^api/(.+)$ 						/backend/index.php?method=$1&%{QUERY_STRING}
RewriteRule ^s/(.+).html$ 					/backend/controllers/saved.php?id=$1
RewriteRule ^compare/browser/index.html$ 	/backend/controllers/browser.php?%{QUERY_STRING}
RewriteRule ^compare/browser/(.+).html$ 	/backend/controllers/browser.php?show=$1&%{QUERY_STRING}
RewriteRule ^compare/feature/index.html$ 	/backend/controllers/feature.php?%{QUERY_STRING}
RewriteRule ^compare/feature/(.+).html$ 	/backend/controllers/feature.php?show=$1&%{QUERY_STRING}
RewriteRule ^results/desktop.html$			/backend/controllers/results.php?type=desktop
RewriteRule ^results/mobile.html$			/backend/controllers/results.php?type=mobile
RewriteRule ^results/tablet.html$			/backend/controllers/results.php?type=tablet
RewriteRule ^results/gaming.html$			/backend/controllers/results.php?type=gaming
RewriteRule ^results/television.html$		/backend/controllers/results.php?type=television
RewriteRule ^results/other.html$			/backend/controllers/results.php?type=other
RewriteRule ^results/latest.html$			/backend/controllers/latest.php
RewriteRule ^results/search.html$			/backend/controllers/search.php
RewriteRule ^results/related/(.+).html$ 	/backend/controllers/fingerprint.php?id=$1
RewriteRule ^devicelab/?$					/backend/controllers/lab.php

RewriteRule ^favicon(.*)$					/images/icons/favicon$1
RewriteRule ^apple-touch-icon(.*)$			/images/icons/apple-touch-icon$1
RewriteRule ^mstile-(.*)$					/images/icons/mstile-$1
RewriteRule ^browserconfig.xml				/images/icons/browserconfig.xml

<FilesMatch ".+\.[woff|eot|svg|ttf]">
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>

<FilesMatch "detect.html">
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
</FilesMatch>


SetEnvIf User-Agent .*Bada.* BROKEN_CSP

<FilesMatch "[index|qr].html">
<IfModule mod_headers.c>
    Header set X-WebKit-CSP "default-src 'unsafe-inline' *; frame-src *; options inline-script;" env=!BROKEN_CSP
    Header set Content-Security-Policy "default-src 'unsafe-inline' *; frame-src *; options inline-script;" env=!BROKEN_CSP
    Header set X-Content-Security-Policy "default-src 'unsafe-inline' *; frame-src *; options inline-script;" env=!BROKEN_CSP
</IfModule>
</FilesMatch>
