<?php

	$GLOBALS['configuration'] = [
		'readonly' => false,

		'version' => 8,
		'revision' => 0,

		'database' => [
			'server' => 'localhost',
			'username' => '******';
			'password' => '******';
			'database' => 'html5test'
		]
	];