<?php

	$version = '8.00';
	$revision = 0;

	$GLOBALS['configuration'] = [
		'readonly' => false,

		'database' => [
			'server' => 'localhost',
			'username' => '******';
			'password' => '******';
			'database' => 'html5test'
		]
	];