<!DOCTYPE html>
<html>
	<head>
		<title>HTML5test - How well does your browser support HTML5?</title>

		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/css/main.css" type="text/css">
		<link rel="stylesheet" href="/css/reporting.css" type="text/css">

		<script src='/scripts/base.js' type='text/javascript'></script>
		<script src='/scripts/reporting.js' type='text/javascript'></script>
		<script src='/scripts/8/data.js' type='text/javascript'></script>

		<meta name="application-name" content="HTML5test"/>

		<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/images/icons/favicon-160x160.png" sizes="160x160" />
		<link rel="icon" type="image/png" href="/images/icons/favicon-196x196.png" sizes="196x196" />
		<meta name="msapplication-TileColor" content="#0092bf" />
		<meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png" />
	</head>

	<body>
		<div class='header'>
			<h1><span>HTML<strong>5</strong>test</span> <em>how well does your browser support HTML5?</em></h1>
			<div class='navigation'>
				<ul class='left'>
					<li><a href='/index.html'>Your browser</a></li>
					<li class='selected'><a href='/results/desktop.html'>Other browsers</a></li>
					<li><a href='/compare/browser/index.html'>Compare</a></li>
				</ul>
				<ul class='right'>
					<li><a href='http://blog.html5test.com/'>News</a></li>
					<li><a href='/devicelab'>Device Lab</a></li>
					<li><a href='/about.html'>About<span> the test</span></a></li>
				</ul>
			</div>
		</div>

		<div class='page saved'>
			<div id='contents' class='column'>
				<div class='paper'>
					<div>
						<script>

							var m = new Metadata(tests);

						</script>

						<h2>Timeline <span> for <?php echo htmlentities($platform->name); ?></span></h2>
						<hr>

						<?php foreach($timeline as $item): ?>
							<div class='diffHeader'>
								<div class='points'><?php echo $item->score; ?></div>
								<h3><a href='/compare/browser/<?php echo $item->platform . ($item->version ? '-' . $item->version : ''); ?>.html'><?php echo $item->nickname; ?> <span>»</span></a></h3>
								<?php if ($item->status != 'upcoming'): ?>
									<?php if (!is_null($item->releasedate)): ?>
									<p>Release date: <?php echo date('d-m-Y', strtotime($item->releasedate)); ?></p>
									<?php else: ?>
									<p>Release date: unknown</p>
									<?php endif; ?>
								<?php else: ?>
								<p>Not yet released</p>
								<?php endif; ?>
							</div>

							<?php if(count($item->changes)): ?>
							<div id="changes_<?php echo md5($item->platform . '-' . $item->version); ?>" class="detailsTable diffTable"></div>

							<script>

								new DiffTable({
									parent:		document.getElementById("changes_<?php echo md5($item->platform . '-' . $item->version); ?>"),
									metadata:	m,
									data: 		<?php echo json_encode($item->changes); ?>
								});

							</script>
							<?php endif; ?>
							<hr>
						<?php endforeach; ?>

						<div class='text'>
							These results are collected from many thousands of visitors using all kinds of devices.
							Excluded from this timeline are changes in video and audio codecs, because they are often
							dependant on operating system and device hardware.
						</div>
					</div>
				</div>

				<div class='footer'>
					<div>
						<div class='copyright'>
							<p>
								Created by Niels Leenheer.<br>
								Please note that the HTML5 test is not affiliated with the W3C or the HTML5 working group.<br>
								HTML5 Logo by <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a>.
								Browser detection by <a href='http://whichbrowser.net'>WhichBrowser</a>.
							</p>

							<div id='cloudvps'>
								<a href="http://www.cloudvps.nl" target="_blank" ><b>CloudVPS</b><br> High Availability<br> Cloud Servers</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src='//www.google-analytics.com/ga.js'></script>
		<script>
		<!--
			try {
				var pageTracker = _gat._getTracker("UA-68192-4");
				pageTracker._trackPageview();
			} catch(err) {}
		//-->
		</script>
	</body>
</html>
